<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      キャンプしよう！
    </h2>
    <p class='service-explain'>
      道具をシェアして手軽にキャンプ
    </p>
    <p class='service-explain'>
      環境にも優しいシェアサイト
    </p>
    
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%#  HOW TO USE %>
  <div class='howtouse-contents'>
   <div class= 'howtouse'>
    <h2 class='title'>
      HOW TO USE
    </h2>

    <ul class='reason-lists'>
      <li class='list'>
        <h3 class='reason-list-text'>
          <%= image_tag "1.png", class:"list-pict1" %>
          <%= image_tag "5.png", class:"list-pict2" %>
          <p class='reason-list-green-text'>簡単</p>
        </h3>
        <p class='reason-list-description'>
          予約から利用までスマホやPCで完結
        </p>
      </li>
      <li class='list'>
        <h3 class='reason-list-text'>
           <%= image_tag "2.png", class:"list-pict1" %>
           <%= image_tag "6.png", class:"list-pict2" %>
          <p class='reason-list-green-text'>シンプルで使いやすい</p>
        </h3>
        <p class='reason-list-description'>
          めんどくさい入力は必要なく、検索も購入もスムーズ！
        </p>
      </li>
      <li class='list'>
        <h3 class='reason-list-text'>
           <%= image_tag "4.png", class:"list-pict1" %>
           <%= image_tag "3.png", class:"list-pict2" %>

          <span class='reason-list-green-text'>コンビニや自宅で返却完了</span>
        </h3>
        <p class='reason-list-description'>
          レジまたは集荷業者に箱を渡すだけ。返送時の送料も不要です。
        </p>
      </li>
    </ul>
    </div>
  </div>
  <%# /HOW TO USE  %>


  <%# 商品一覧 %>
  <div class='item-contents'>
   <div class='pickup'>
    <h2 class='title'>PICKUP CATEGORY</h2>
    
    <ul class='item-lists'>
      <% @items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id), method: :get do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: 'item-img' if item.image.attached? %>

          <% if item.rental.present? %>
              <div class='sold-out'>
            <span>貸出中</span>
          </div>
          <% end %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name  %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
  </div>
</div>
<% if user_signed_in? %>
  <% if current_user == @user || current_user.admin? %>
    <%= link_to('/items/new', class: 'purchase-btn') do %>
     <span class='purchase-btn-text'>商品投稿</span>
     <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    <% end %>
  <% end %>
<% end %>
<%= render "shared/footer" %>